:root {
  --font-family: Georgia, 'Times New Roman', Times, serif;
  --background-color: rgb(73, 51, 144);
  --justify-content: #b9c6ae;
  --display: flex;
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(223, 216, 216);
 margin: auto;
}

header {
  font-size: 20px;
  color: white;
  display: var(--flex);
  justify-content: space-between;
  background-color: rgb(170, 170, 243);
}
/* Portrait picture*/
.float-img{
margin-left: 20px;  
margin-right: 30px;
margin-bottom: 10px;
border: solid black 2px;
padding: 2px;
float: left;
max-height: 250px;
max-width: 350px;
}

/* background image for header*/
.Mainheader {
  max-height: 200px;
}

li {
  display:inline;
  padding: 10px 40px;
  color: black;
  font-family: var(--font-family);
}

h1 {
font-size: 50px;
font-family: var(--font-family);
margin: 20px;
color: white;
}

/* add a background color when hovering over links */
a:hover {
background-color: white;
}

nav ul {
  display: flex;
  min-width: 200px;
  margin-right: 10px;
  justify-content: space-between;
  color: white;
  float: right;
  margin-top: 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px;
    padding: 40px;
  }

h2 {
  margin: 20px;
  font-size: 50px;
  color: rgb(170, 170, 243) ;
  }

h3 {
  margin: 0px;
}

main, .projects {
  font-size: 17px;
  justify-content:flex-start;
  margin: -20px;
  } 

 /* edit sizing to make this picture bigger than the rest*/ 
.Holder-img {
  border: solid black 1px;
  height: 300px;
  width: 500px;
  max-height: 800px;
  max-width: 400px;
  width: 100%;
  height: 100%;
}

.photo {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 0px;
  flex-wrap: wrap;
  display: flex;
  opacity: 1;
  position: relative;
  text-align: center;
  font-size: 15px; 
  font-weight: bold;
  color: black;
  max-height: 250px;
  max-width: 350px;
  flex-direction: column;
}

/* add hover effect on pictures*/
.photo:hover{
  opacity: 0.3;
}

/* Centered text on pictures*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img{ 
  max-height: 500px;
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

section, p {
margin: 20px;
}

section, a {
color: black;
}

footer {
font-size: 20px; 
display: flex;
color: white;
justify-content:space-between;
background-color: rgb(223, 216, 216) ;
padding: 1%;
margin-top: 50px;
}

footer ul{
  justify-content: flex-end;
  display: var(--flex);
  float: right;
  margin-top: 30px;
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  }